# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Package.resolved

# macOS
.DS_Store

# CocoaPods（用不到也先寫上）
Pods/

# Secrets ← 重點！
Secrets.xcconfig
*.env
